.signup {
  padding-top: 8px;
  margin-top: 8px;
}
.Button {
  
  color: white;
  margin-top: 12px;
}
.signuplink {
  padding-top: 2px;
  margin-top: 2px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
#paper{
  margin-bottom: 22px;
  padding-bottom: 22px;
}